{% extends 'bootstrap/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>The 1 minute pitch app</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="description">
                    <p> The 1 minute pitch app allows user to add their 1 minute pitch and post it. The pitch can be voted
                    upon by other users and can be commented upon. The pitches are categorised in the 4 categories.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}