{% extends 'bootstrap/base.html' %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <div class="container-fluid">
        {% include 'navbar.html'%}
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>The 1 minute pitch app</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="list-group-item">
                        <div class="description">
                            <h3>About</h3>
                            <p> The 1 minute pitch app allows user to add their 1 minute pitch and post it. The pitch can be voted
                            upon by other users and can be commented on. The pitches are categorised into 4 categories.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 id="sub-heading">Pitch Categories</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="list-group-item">
                    <p>Click on button below to check out the interview pitches</p>
                    <a class="btn btn-primary" href="#">Interview Pitch</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-group-item">
                    <p>Click on button below to check out the product pitches</p>
                    <a class="btn btn-primary" href="#">Product Pitch</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-group-item">
                    <p>Click on button below to check out the promotion pitches</p>
                    <a class="btn btn-primary" href="#">Promotion Pitch</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-group-item">
                    <p>Click on button below to check out the pick up lines pitches</p>
                    <a class="btn btn-primary" href="#">Pick Up lines Pitch</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="post">
                    <div class="list-group-item">
                        <p>Click the button below to add your own pitch in the category of your choice.</p>
                        <a class="btn btn-primary" href="{{url_for('main.new_pitch')}}" >Add Pitch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}